@import "./global/normalize";
@import "./global/variables";
@import "./global/font";
@import "./global/common";
html{
    background: #f1f1f1;
}
body{
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    color: #333;
}
html,body,#coo-app
{

}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a{
    &:hover{
        text-decoration: underline;
    }
    &.link-demo{
        color: $color-green;
        margin-right: 10px;
    }
}

pre{
    margin: 0px;
}

.component{
    &-name{
        text-align: center;
        font-size: 30px;
        color: $color-green;
    }
    &-description{
        text-align: center;
        color: $color-gray-darker;
    }
}

.demo, .param{
    margin-top: 15px;
    &-title{
        background-color: #efefef;
        padding: 5px 20px;
        color: $color-black;
    }
    &-box{
        padding: 10px;
    }
    &-code{
        padding: 10px;
        overflow: auto;
        font-family: Menlo,Monaco,Consolas,Andale Mono,lucida console,Courier New,monospace;
        font-size: 14px;
        word-wrap: normal;
        background: #ebeef5;
        border-radius: 4px;
        margin: 0px 10px;
    }
}

.param{
    &-list{
        padding: 10px 30px;
    }
    &-item{
        padding: 5px 10px;
        &:nth-child(even){
            background-color: #efefef;
        }
    }
    &-desc{
        h4{
            color: $color-black;
            font-weight: normal;
        }
        padding-left: 20px;
        color: $color-gray;
    }
}