@import "../../assets/scss/global/variables";
.coo{
    &-area{
        &-select{
            position: relative;
        }
        &-display{
            &.none{
                color: #c0c0c0;
            }
            border: 1px solid $color-white-dark-extra;
            height: 45px;
            box-sizing: border-box;
            line-height: 45px;
            font-size: 14px;
            color: #000;
            padding: 0px 15px;
            position: relative;
            cursor: pointer;
            &:after{
                content: '';
                position: absolute;
                height: 9px;
                width: 9px;
                border-width: 1px 1px 0 0;
                transform: rotate(135deg);
                border-color: #C8C8CD;
                border-style: solid;
                top: 50%;
                right: 15px;
                margin-top: -8px;
            }
            span{
                margin-right: 14px;
            }
        }
        &-body{
            position: absolute;
            z-index: 3;
            top: 0px;
            width: 100%;
            box-sizing: border-box;
            border-width: 1px;
            border-color: $color-white-dark-extra;
            height: 200px;
            border-style: solid;
            background-color: #ffffff;
            padding: 0px 15px;
        }
        &-title{
            display: none;
        }
        &-tab{
            border-bottom: 1px solid $color-white-dark-extra;
            padding-top: 18px;
            position: relative;
            font-size: 14px;
            &item{
                margin-right: 14px;
                cursor: pointer;
                color: #333;
                display: block;
                float: left;
                &.active{
                    color: #999999;
                }
            }
        }
        &-close{
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
            right: 0px;
            top: 50%;
            font-size: 16px;
            margin-top: -8px;
            color: #999999;
            cursor: pointer;
        }
        &-list{
            dl{
                padding: 24px 0px 10px 0px;
                color: #555;
            }
            dd{
                display: inline-block;
                margin-right: 14px;
                margin-bottom: 14px;
                cursor: pointer;
                &.active{
                    color: $color-green;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px){
    .coo {
        &-area {
            &-tab{
                padding-bottom: 0px;
                &item{
                    padding: 5px 10px;
                    padding-right: 26px;
                    border: 1px solid $color-white-dark-extra;
                    border-bottom: 0px;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        height: 6px;
                        width: 6px;
                        border-width: 1px 1px 0 0;
                        -webkit-transform: rotate(135deg);
                        -ms-transform: rotate(135deg);
                        transform: rotate(135deg);
                        border-color: #C8C8CD;
                        border-style: solid;
                        top: 50%;
                        right: 10px;
                        margin-top: -5px;
                    }
                    &.active{
                        color: $color-green;
                        &:before{
                            border-color: $color-green;
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0px;
                            height: 1px;
                            width: 100%;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .coo-area-fade-enter-active {
        animation: coo-area-fade-in 0.3s  linear;
    }

    .coo-area-fade-leave-active {
        animation: coo-area-fade-out 0.3s  linear;
    }

    @keyframes coo-area-fade-in {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: none;
        }
    }

    @keyframes coo-area-fade-out {
        0% {
            transform: none;
        }
        100% {
            transform: translateY(100%);
        }
    }
    .coo {
        &-area {
            &-mask{
                position: fixed;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: rgba(0,0,0,.5);
                z-index: 1000;
            }
            &-body{
                position: fixed;
                width: 100%;
                top: auto;
                bottom: 0px;
                left: 0px;
                z-index: 1001;
            }

            &-list{
                dl{
                    height: 300px;
                    overflow-y: auto;
                    padding-left: 25px;
                    padding-right: 25px;
                }
                dd{
                    display: block;
                }
            }
            &-close{
                display: none;
            }
            &-body{
                padding: 0px;
                height: auto;
            }
            &-title{
                display: block;
                text-align: center;
                background-color: #f0f0f0;
                position: relative;
                height: 40px;
                line-height: 40px;
                border-top: $color-white-dark-extra;
                .coo-area-close{
                    display: block;
                    right: 15px;
                }
            }
            &-tab{
                padding-left: 25px;
                padding-right: 25px;
                span{
                    position: relative;
                    height: 28px;
                    &.active{
                        color: $color-green;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0px;
                            width: 100%;
                            height: 2px;
                            background-color: $color-green;
                        }
                    }
                }
            }
        }
    }
}
