
.toast-fade-enter-active {
    animation: toast-fade-in 0.5s  linear;
}

.toast-fade-leave-active {
    animation: toast-fade-out 0.5s  linear;
}


@keyframes toast-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toast-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.coo-toast{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    z-index: 3000;
    &-icon{
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 1;
        margin: 0px auto;
        margin-bottom: 5px;
        i{
            display: block;
        }
    }
    &-tip{
        padding: 10px 20px;
    }
    &-message{
        font-size: 16px;
    }
    &-horizontal{
        padding-left: 50px;
       .coo-toast{
            &-icon{
                position: absolute;
                left: 15px;
                top: 15px;
                height: 25px;
                width: 25px;
                margin-bottom: 0px;
                font-size: 25px;
            }
       } 
    }
    &-theme-default{
        background: rgba(17, 17, 17, 0.7);
        border: 1px solid rgba(17, 17, 17, 1);
    }
    &-theme-blue{
        background: rgba(39, 143, 245, 0.7);
        border: 1px solid #00acff;
    }
    &-theme-red{
        background: rgba(245, 69, 69, 0.7);
        border: 1px solid #ff0000;
    }
    &-theme-orange{
        background: rgba(224, 189, 71, 0.8);
        border: 1px solid #efab13;
    }
}