.demo-box-2{
    a{
        color: #156dd2;
        text-decoration: underline;
    }
    .lazy-img{
        width: 750px;
        display: block;
    }
}

.demo-box-3{
 .lazy-img{
        width: 750px;
    }   
}