@import "../../assets/scss/global/variables";

.coo-dialog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    &-no-footer{
        padding-bottom: 20px;
    }
    &-wrapper {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        overflow: auto;
        width: 100%;
        margin: 0;
        background-color: rgba(0,0,0,0.6);
        .tiny {
            width: 30%;
        }

        .small {
            width: 50%;
        }

        .large {
            width: 90%;
            left: 5%;
            transform: none;
        }
        .xmall{
            width: 90%;
        }
        .full {
            width: 100%;
            top: 0;
            margin-bottom: 0;
            height: 100%;
            overflow: auto;
        }
    }

    &-header {
        padding: 20px;
        line-height: 20px;
        box-sizing: border-box;
        position: relative;
        text-align: center;
    }

    &-close {
        cursor: pointer;
        &:hover:before {

        }
    }

    &-title {
        line-height: 1;
        font-size: 16px;
        //font-weight: bold;
        color: #000000;
    }

    &-body {
        padding:0px 20px;
        color: #999;
        font-size: 14px;
        line-height: 25px;
    }

    &-headerbtn {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        position: absolute;
        font-size: 18px;
        left: 15px;
        top: 20px;
        -webkit-tap-highlight-color: transparent;
    }

    &-footer {
        padding-top: 20px;
        text-align: center;
        box-sizing: border-box;
        line-height: 20px;
        padding-bottom: 20px;
        .mt-button{
            margin: 0px 5px;
        }
    }

    &-alert, &-success{
        position: relative;
        padding: 10px 30px 0px 120px;
        &-title{
            font-size: 25px;
            color: $color-gray-darker;
            margin-bottom: 10px;
        }
        .mt-icon {
            position: absolute;
            font-size: 55px;
            top: 10px;
            left: 30px;
        }
    }
}

.dialog-fade-enter-active {
    animation: dialog-fade-in 0.5s  linear;
}

.dialog-fade-leave-active {
    animation: dialog-fade-out 0.5s  linear;
}

@keyframes dialog-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dialog-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media only screen and (min-width: 768px) {
    .coo-dialog {
        &.xmall {
            max-width: 500px;
            top: 50% !important;
            left: 50%;
            transform: translate(-50%, -50%) !important;
        }
        &-header {
            text-align: left;
        }
        &-headerbtn {
            right: 15px;
            left: auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .mt-dialog {
        &.xmall {
            top: 50% !important;
            left: 50%;
            transform: translate(-50%, -50%) !important;
        }
    }
}
