@import "../../assets/scss/global/variables";
.notification{
    height: calc(100vh - 30px);
    position: relative;
    background-color: $color-body-bg;
    &-content{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0%, -50%);
        text-align: center;
    }
    &-word{
        font-size: $font-size-md;
        color: $color-gray-dark;
        margin-top: 15px;
        font-weight: 300;
    }
    &-icon{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        margin: 0px auto;
    }
    &-404{
        background-image: url(../../assets/images/code-404.png);
        height: 190px;
        width: 243px;
    }
    &-error{
        background-image: url(../../assets/images/code-error.png);
        height: 162px;
        width: 313px;
    }
    &-no{
        background-image: url(../../assets/images/code-no.png);
        height: 163px;
        width: 213px;
    }
    &-sorry{
        background-image: url(../../assets/images/code-sorry.png);
        height: 162px;
        width: 311px;
    }
    &-back{
        margin: 40px auto 0px auto;
        color: $color-gray-dark;
        font-size: $font-size-lg;
        width: 250px;
        display: block;
        text-align: center;
        font-weight: 300;
        line-height: 1;
        &:after{
            content: '';
            width: 18px;
            position: absolute;
            left: 50%;
            margin-left: -9px;
            bottom: -14px;
            height: 1px;
            background-color: #777777;
        }
        &:hover{
            color: $color-pink;
            &:after{
                background-color: $color-pink;
            }
        }
    }
}



@media only screen and (min-width: 769px) {
    .notification{
        height: calc(100vh - 250px);
        &-word{
            font-size: $font-size-xxl;
            color: $color-gray-dark;
            margin-top: 30px;
        }
        &-icon{
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            margin: 0px auto;
        }

        &-back {
            margin-top: 50px;
        }
    }
}
